html {
    background-color: #F1F0E8;
    color: #2b2b2b;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
}

body.dark {
    background-color: #1E1E1E;
    color: white;
}

.title {
    margin: 0 0 0 0;
    padding: 0 0 0.5rem 0.5rem;
    color: #2b2b2b;
}

h2{
    font-weight: 500;
}

.dark .title {
    color: white;
}

.blocks {
    padding: 1rem;
    background-color: #E5E1DA;
    margin: 0 auto 1rem auto;
    max-width: 300px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dark .blocks {
    background-color: #2b2b2b;
    color: #fff;
}

header {
    text-align: center;
    color: #2b2b2b;
    border-radius: 10rem;
    padding: 1rem 0 0 0;
    margin: 0 auto;
    max-width: 20rem;
}

header {
    display: flex;
    justify-content: space-between;
    /* 左右分散对齐 */
    align-items: center;
    /* 垂直居中 */
}

.dark header {
    color: white;
}

.blockHead {
    display: flex;
    justify-content: space-between;
    /* 左右分散对齐 */
    align-items: center;
    /* 垂直居中 */
}

input {
    font-size: 16px;
    /* 至少16px，防止iOS自动缩放 */
    padding: 12px;
    margin: 0;
    width: 75%;
    max-width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    font-family: inherit;
    display: inline-block;
    vertical-align: middle;
    height: 45px;
}

.dark input {
    color: #eeeeee;
    background-color: #646464;
}

input:focus {
    border-color: #51829B;
    /* 蓝色高亮 */
    box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
}

#inputAndSubmit {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#submit {
    padding: 0;
    margin: 0;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    display: inline-block;
    vertical-align: middle;
    background-color: #5A827E;
}

#submit img {
    padding: 0;
    margin: auto;
    width: 30px;
    height: 30px;
}

button {
    margin: 0 0.3rem 0.3rem 0;
    padding: 0.5rem 1rem;
    background-color: #89A8B2;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#light {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin: 0.3rem 0 0.3rem 0;
    border-radius: 50%;
    background-color: #E5E1DA;
    border: none;
    color: #2b2b2b;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.dark #light {
    color: #E5E1DA;
    background-color: #2b2b2b;
}

.dark button {
    background-color: #728d96;
}

#modes {
    touch-action: manipulation;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #e2b577;
    color: white;
    border-radius: 0;
}

.dark #modes {
    background-color: #bc9764;
}

#langSwitcher {
    touch-action: manipulation;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #77b9e2;
    color: white;
    border-radius: 0;
}

.dark #langSwitcher {
    background-color: #497089;
}

option {
    background-color: #F1F0E8;
    color: #2b2b2b;
}

#currentCode {
    margin: 0;
    padding: 0 0 0.5rem 0;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
}

#tableContainer {
    overflow-x: auto;
}



#letterTable {
    display: none;
}

#lettersContent {
    display: none;
}

#tableContainer {
    width: 98vw;
    max-width: 98vw;
    max-height: 75vh;
    /* 限高触发纵向滚动 */
    margin: 0 auto 1rem auto;
    overflow: auto;
    /* 横纵向都允许滚动 */
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
}

#letterTable {
    border-collapse: collapse;
    width: max-content;
    min-width: 100%;
    table-layout: fixed;
}

#letterTable th,
#letterTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    white-space: nowrap;
    background-color: #F1F0E8;
}

.dark #letterTable th,
.dark #letterTable td {
    background-color: #2b2b2b;
}

/* 固定首行 */
#letterTable thead th {
    position: sticky;
    top: 0;
    background-color: #75919b;
    color: #fff;
    z-index: 3;
}

/* 固定首列 */
#letterTable th:first-child {
    position: sticky;
    left: 0;
    color: #fff;
    background-color: #75919b;
    z-index: 2;
}

/* 左上角交叉单元格 */
#letterTable thead th:first-child {
    z-index: 4;
}

/* 空内容样式 */
#letterTable td.empty {
    background-color: #F1F0E8;
    color: #bbb;
}

.dark #letterTable td.empty {
    background-color: rgb(74, 74, 74);
}


footer table th {
    text-align: right;
    font-weight: 500;
    padding: 0 0 0.4rem 0;
}

footer table td {
    padding: 0 0 0.4rem 1rem;
}

a {
    color: darkblue;
}

.dark a {
    color: skyblue;
}

.coordinate {
    margin-top: 1rem;
}

.coordinate tr td {
    min-width: 1.2rem;
    min-height: 1.2rem;
    text-align: center;
    border: 1px solid gray;
}

.U {
    background-color: yellow;
    color: #2b2b2b;
}

.L {
    background-color: blue;
    color: white;
}

.F {
    background-color: red;
    color: white;
}

.R {
    background-color: lightgreen;
    color: #2b2b2b;

}

.B {
    color: #2b2b2b;
    background-color: orange;
}

.D {
    color: #2b2b2b;
    background-color: white;
}

#currentCustomCode {
    margin-top: 1rem;
}

#currentCustomCode td, caption {
    border-radius: 0.5rem;
    padding: 0.3rem;
    background-color: rgba(18, 18, 18, 0.1);
}

#eg {
    background-color: rgba(18, 18, 18, 0.1);
    padding: 0.3rem;
    border-radius: 0.5rem;
}